.story-card {
    min-height: 30vh;
    margin: 10px;
    @media screen and (min-width: 451px) {
        width: 50% !important;
    }
    @media screen and (max-width: 450px) {
        width: 100% !important;
    }
}
.container {
    min-height: 60vh;
}
.spinner-border {
    position: absolute;
    top: 40%;
    left: 50%;
}
